:root {
  --white: #fffffe;
  --text: #2b2c34;
  --primary: #6246ea;
  --secondary: #d1d1e9;
  --tertiary: #e45858;
  font-family: "Ubuntu Sans", sans-serif;
}

body {
  background-color: var(--white);
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  gap: 2rem;
}

.hero {
  display: flex;
  align-items: center;
  width: 10rem;
  user-select: none;
}

.hero-text-the {
  color: var(--text);
  padding-top: 1.2rem;
}

.hero-text,
.home-hero-logo {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: var(--primary);
  line-height: 1.2rem;
  margin-left: -0.5rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 8rem;
  width: 100%;
  font-size: 1.1rem;
}

button {
  appearance: none;
  background-color: var(--white);
  border: 0.15rem solid var(--white);
  transition: 0.2s ease-in-out;
  padding: 1rem;
  cursor: pointer;
  user-select: none;
  font-weight: 400;
}

button:hover {
  border-bottom: 0.15rem solid var(--primary);
  transition: 0.2s ease-in-out;
}

.button-active {
  border-bottom: 0.15rem solid var(--primary);
  color: var(--primary);
  transition: 0.2s ease-in-out;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  padding: 3rem;
  height: 40rem;
  width: 40rem;
  gap: 6rem;
  border-radius: 2rem;
  text-align: center;
}

.home-hero {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.8rem;
}

.home-hero-logo {
  display: flex;
  gap: 0.5rem;
  font-size: 1.8rem;
}

.home-hero-logo-the {
  color: var(--text);
}

.home-text {
  width: 30rem;
}
