:root {
  --white: #fffffe;
  --text: #2b2c34;
  --primary: #6246ea;
  --secondary: #d1d1e9;
  --tertiary: #e45858;
  --logo-font: "Rowdies", sans-serif;
  --btn-font: "Ubuntu Sans", sans-serif;
  font-family: "Dosis", sans-serif;
}

body {
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: calc(50vw + 20rem);
  gap: 2rem;
  padding: 2rem 6rem 2rem 6rem;
  background-color: var(--white);
}

.hero {
  display: flex;
  align-items: center;
  width: 10rem;
  user-select: none;
}

.hero-text-the {
  color: var(--text);
  padding-top: 1.2rem;
}

.hero-text,
.home-hero-logo,
.menu-hero-logo {
  font-family: var(--logo-font);
  font-weight: 300;
  font-size: 1.2rem;
  color: var(--primary);
}

nav {
  display: flex;
  justify-content: center;
  gap: 8rem;
  width: 100%;
  font-size: 1.1rem;
  font-family: var(--btn-font);
}

button {
  appearance: none;
  background-color: var(--white);
  border: 0.15rem solid var(--white);
  transition: 0.2s ease-in-out;
  padding: 1rem;
  cursor: pointer;
  user-select: none;
  font-weight: 400;
}

button:hover {
  border-bottom: 0.15rem solid var(--primary);
  transition: 0.2s ease-in-out;
}

.button-active {
  border-bottom: 0.15rem solid var(--primary);
  color: var(--primary);
  transition: 0.2s ease-in-out;
}

.home-container,
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  width: 40rem;
  gap: 6rem;
  text-align: center;
  font-size: 1.3rem;
}

.home-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  width: 100%;
}

.home-hero-logo {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  margin-left: 0rem;
}

.home-hero-logo::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 0.15rem;
  left: 0;
  top: 60%;
  background-color: var(--primary);
}

.home-hero-logo::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 0.15rem;
  right: 0;
  top: 60%;
  background-color: var(--primary);
}

.home-hero-logo-the {
  color: var(--text);
  align-self: flex-end;
  padding-right: 0.5rem;
}

.home-hero-logo-bobacube {
  align-self: flex-end;
  padding-right: 0.2rem;
}

.home-text {
  width: 30rem;
}

.home-btn {
  appearance: none;
  transition: 0.5s ease-in-out;
  border-radius: 2rem;
  border: 0.14rem solid var(--primary);
  padding: 1.1rem 1.8rem 1.1rem 1.8rem;
  box-shadow: inset 0 0 0 0 var(--primary), 0.3rem 0.3rem var(--secondary);
  font-weight: 600;
  font-size: 1.2rem;
}

.home-btn:hover {
  box-shadow: inset 0 -4rem 0 0 var(--primary), 0.3rem 0.3rem var(--secondary);
  color: var(--white);
}

.home-btn:active {
  transform: translateX(0.3rem) translateY(0.3rem);
  box-shadow: inset 0 -4rem 0 0 var(--primary);
}

.offer-card {
  display: flex;
  align-items: center;
  height: 10rem;
  width: 40rem;
  border-radius: 0.2rem;
  background-color: var(--secondary);
  background-image: url(./images/bubble-tea-img.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.offer-card-text {
  margin-left: 3.6rem;
  padding: 1rem 3rem 1rem 3rem;
  width: 26rem;
  border: 0.2rem solid var(--white);
  border-radius: 0.2rem;
}

.tropical {
  color: var(--tertiary);
  font-weight: 600;
}

.blueberry {
  color: var(--primary);
  font-weight: 600;
}

.menu-container {
  text-align: start;
  gap: 2rem;
}

.menu-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  justify-content: flex-end;
}

.menu-hero-logo {
  display: flex;
  font-size: 1.8rem;
  color: var(--tertiary);
  padding-right: 0.2rem;
}

.menu-hero-logo::after {
  content: "";
  position: absolute;
  width: 63%;
  height: 0.15rem;
  right: 0;
  top: 30%;
  background-color: var(--primary);
}

.menu-hero-logo-the {
  color: var(--text);
  padding-right: 0.4rem;
  align-self: flex-end;
}

.menu-hero-logo-bobacube {
  padding-right: 0.2rem;
  align-self: flex-end;
}

.menu-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  border-top: solid 0.2rem var(--tertiary);
  font-weight: 500;
}

.menu-price,
.menu-price-3 {
  font-weight: 700;
  text-align: end;
  border-left: solid 0.15rem var(--primary);
  width: 7.5rem;
}

.menu-price-3 {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.original-price {
  position: relative;
  font-weight: 700;
  color: var(--tertiary);
}

.original-price::before {
  content: "";
  position: absolute;
  background-color: var(--text);
  height: 0.1rem;
  width: 3rem;
  top: 50%;
  transform: rotate(160deg);
}
